{{ define "main" }}

{{ partial "navigation.html" . }}

{{ partial "single-breadcrumb.html" . }}

<section class="section post-single-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="post-single-title">{{ .Title }}</h1>
        <ul class="list-inline mb-50">
          <!-- <li class="list-inline-item post-single-author">{{ .Params.Author }}</li> -->
          <li class="list-inline-item post-single-date">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</li>
        </ul>
      </div>
      <div class="col-lg-12 text-center">
        {{ partial "image.html" (dict "Src" .Params.Image "Alt" "Blog Image" "Class" "img-fluid mb-50 lozad") }}
      </div>
      <div class="col-lg-12">
        <div class="post-single-content">
          {{ .Content }}
        </div>
        {{ if site.Params.post_share }}
        {{ partial "post-share.html" . }}
        {{ end }}

      </div>
    </div>
  </div>
</section>

{{ end }}
