{{ define "main" }}

{{ partial "navigation.html" . }}

<!-- {{ partial "single-breadcrumb.html" . }} -->

<div class="article-hero">
  {{ with .Params.categories }}
  <p class="category-link">
    {{ index . 0 }}
  </p>
  {{ end }}

  <h1>{{ .Title }}</h1>

  {{ with .Params.description }}
  <h2 class="subtitle">{{ . }}</h2>
  {{ end }}
</div>

<section class="section post-single-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="post-single-content">
          {{ partial "image.html" (dict "Src" .Params.Image "Alt" "Blog Image" "Class" "img-fluid mb-50 lozad featured-article-image") }}

          {{ .Content }}
        </div>
        {{ if site.Params.post_share }}
        {{ partial "post-share.html" . }}
        {{ end }}

      </div>
    </div>
  </div>
</section>

{{ end }}
