/** Section: Fun Facts Component **/
section.funfacts-section {
  background-image: linear-gradient(
    90deg,
    var(--brand-highlight),
    var(--brand-primary)
  );
  color: var(--text-base);
  margin-bottom: 3em;
  margin-top: 3em;
  padding: 3em 0;
  padding: 2.5em 1em;
}

section.funfacts-section .container {
  margin-bottom: 3em;
  margin-top: 3em;
  padding: 3em 0;
}

section.funfacts-section .counters-item {
  margin-bottom: 1.5em;
}

@media (width >= 768px) {
  section.funfacts-section {
    padding: 3em 2em;
  }

  section.funfacts-section .counters-item {
    margin-bottom: 0;
  }
}
